body {
  text-align: center;
  font-family: 'Roboto Slab', Courier, monospace
} 
a {
  font-size: 50px;
  transition: 0.3s;
  color: white;
  text-decoration: none;
}

a:hover {
  font-size: 55px;
}
#leafCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none; / prevents blocking clicks */
}
